:root {
  --primary-color: #ffffff;
  --background-additional-color: #f5f4fa;
  --accent-background: #2f303a;
  --primary-text-color: #212121;
  --subsidiary-text-color: #757575;
  --accent-color: #2196f3;
  --text-footer-link: rgba(255, 255, 255, 0.6);
}
body {
  background-color: var(--primary-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}

.logo-web {
  color: var(--accent-color);
}
.studio-header {
  color: #000000;
}
.page-active,
.header-address:hover,
.header-address:focus,
.nav-item:hover,
.nav-item:focus {
  color: var(--accent-color);
}
.nav-item,
.comand-name {
  color: var(--primary-text-color);
}
.header-address {
  color: var(--subsidiary-text-color);
}
.footer-section {
  background-color: var(--accent-background);
}
.studio-footer,
.footer-address {
  color: var(--primary-color);
}
.footer-link {
  color: var(--text-footer-link);
}
.logo-web,
.studio-header,
.studio-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.nav-item,
.header-address {
  font-weight: 500;
  letter-spacing: 0.02em;
}
header {
  border-bottom: 1px solid #ececec;
}
.footer-address,
button {
  font-style: normal;
  font-family: inherit;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* positions */
.conteiner {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
header > .conteiner,
.header-nav,
.header-link,
.header-contacts {
  display: flex;
  align-items: center;
}
.header-contacts {
  margin-left: auto;
}
.studio-header {
  padding-right: 93px;
}
header ul {
  padding: 0px;
  margin: 0px;
}
.header-link > li,
.header-contacts > li {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-link > li:not(:last-child),
.header-contacts > li:not(:last-child) {
  padding-right: 50px;
}
.footer-block {
  padding-top: 60px;
}
.footer-block > ul {
  margin-top: 20px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 60px;
}
.footer-block li:not(:last-child) {
  padding-bottom: 9px;
}
/* index.html */
.hero-section {
  background-color: var(--accent-background);
  color: var(--primary-color);
}
.button-active {
  border: 0px;
  border-radius: 4px;
}
.button-active,
.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
.advantages-text,
.profession {
  color: var(--subsidiary-text-color);
}
.hero-phrase {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-top: 0px;
  margin-bottom: 30px;
  padding-top: 200px;
}
.hero-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
  padding-right: 32px;
  padding-bottom: 10px;
  padding-left: 32px;
}
.hero-section {
  padding-bottom: 200px;
}
.advantages {
  padding-top: 94px;
}
.advantages-list {
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
  padding: 0px;
}
.advantages-list > li:not(:last-child) {
  margin-right: 30px;
}
.advantages-list h3 {
  margin-top: 0px;
  margin-bottom: 10px;
}
.advantages-list p {
  margin: 0px;
}
.we-are-working > h2 {
  margin-top: 0px;
  margin-bottom: 50px;
}
.we-are-working > ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 94px;
  padding: 0px;
}
.we-are-working img {
  display: block;
}
.we-are-working li:not(:last-child) {
  margin-right: 30px;
}
.team-section {
  background-color: var(--background-additional-color);
}
.head-phrase {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;

  margin-top: 0px;
  margin-bottom: 50px;
  padding-top: 94px;
}
.team-section ul {
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-bottom: 94px;
}
.team-section li {
  background-color: var(--primary-color);
}
.team-section li:not(:last-child) {
  margin-right: 30px;
}
.team-section img {
  display: block;
  margin-bottom: 30px;
}
.comand-name {
  margin-top: 0px;
  margin-bottom: 10px;
  text-align: center;
}
.profession {
  margin-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.little-phrase,
.comand-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

/* portfolio.html */
.button-list {
  display: flex;
  margin-top: 94px;
  margin-bottom: 50px;
  padding: 0px;
  justify-content: center;
}
.button-list > li:not(:last-child) {
  margin-right: 8px;
}
.button {
  background-color: var(--background-additional-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  border: 0px;
  border-radius: 4px;
}
.worcks-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0px;
  margin-right: -10px;
  margin-bottom: 94px;
  margin-left: -10px;
  padding: 0px;
  justify-content: center;
}
.worcks-list > li {
  margin-right: 10px;
  margin-bottom: 30px;
  margin-left: 10px;
  flex-basis: calc(100% / 3 - 30px);
  border: 1px solid #eeeeee;
}
.worcks-list img {
  display: block;
  margin-bottom: 20px;
}
.project-name {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  margin-top: 0px;
  margin-bottom: 4px;
  padding-right: 24px;
  padding-left: 24px;
}
.project-category {
  color: var(--subsidiary-text-color);
  font-size: 16px;
  line-height: 1.88;

  margin-top: 0px;
  margin-bottom: 20px;
  padding-right: 24px;
  padding-left: 24px;
}
